<!DOCTYPE html>
<html xmlns="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Spring Kadai ToDo</title>
</head>
<body>
	<h2>ToDoリスト</h2>
	<table border="1">
		<thead>
			<tr>
				<th>ID</th>
				<th>タイトル</th>
				<th>優先度</th>
				<th>ステータス</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="todo : ${todos}">
				<td th:text="${todo.todoId}"></td>
				<td th:text="${todo.todoTitle}"></td>
				<td th:text="${todo.todoPriority}"></td>
				<td th:text="${todo.todoStatus}"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>