<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Spring Boot</title>
</head>
<body>
	<h2>お問い合わせフォーム</h2>
		<form th:action="@{/form}" method="post" th:object="${contactForm}">
			<label for="name">お名前</label>
			<input type="text" th:field="*{name}"><br>
			<div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red;"></div>
			
			<label for="email">メールアドレス</label>
			<input type="text" th:field="*{email}"><br>
			<div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color: red;"></div>
			
			<label for="message">お問い合わせ内容</label>
			<textarea cols="30" rows="10" th:field="*{message}"></textarea>
			<div th:if="${#fields.hasErrors('message')}" th:errors="*{message}" style="color: red;"></div>
			<button type="submit">送信</button>
		</form>
	
	<!-- 成功メッセージ・失敗メッセージがあれば表示 -->
	<p th:if="${successMessage}" th:text="${successMessage}" style="color: green;"></p>
	<p th:if="${failureMessage}" th:text="${failureMessage}" style="color: red;"></p>
</body>
</html>